# =================================================
# Archivos de Secretos y Configuración (¡Críticos!)
# =================================================
# Firebase
lib/firebase_options.dart
/android/app/google-services.json
/ios/Runner/GoogleService-Info.plist

# Keystores de firma de Android
*.jks
*.keystore

# =================================================
# Archivos generados por Flutter y Dart
# =================================================
.dart_tool/
.packages
.pub-cache/
.pub/
.flutter-plugins
.flutter-plugins-dependencies
build/
coverage/

# =================================================
# Archivos de Build específicos
# =================================================
# Symbolication
app.*.symbols

# Obfuscation
app.*.map.json

# Android Studio (redundante si ya ignoras /build/)
# /android/app/debug
# /android/app/profile
# /android/app/release

# =================================================
# Archivos de IDE y Sistema Operativo
# =================================================
# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# VS Code (comentado por si quieres guardar tu configuración)
# .vscode/

# macOS / Windows / etc.
.DS_Store
Thumbs.db
*.log
*.swp